# ESP-IDF build output
build/
dist/
additional_content/
tools/*
!tools/pc_viewer.py
!tools/readme.md
!tools/requirements.txt
*.pyc
__pycache__/
.clangd
.devcontainer/
CLAUDE.md
.clangd
.claude/
.cache/
# Dependencies
dependencies.lock
managed_components/

# IDE settings
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

docs/  
pc_runs/
